services:
  minio:
    image: minio/minio:latest
    container_name: minio
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    env_file:
      - minio.env
    healthcheck:
      test: ["CMD", "curl", "-f", "http://minio:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3

  minio-init:
    image: minio/mc:latest
    depends_on:
      - minio
    env_file:
      - minio.env
    volumes:
      - ./inputs:/inputs
    entrypoint: >
      /bin/sh -c "
      sleep 10 &&
      mc alias set s3-minio http://minio:9000 $$MINIO_ROOT_USER $$MINIO_ROOT_PASSWORD &&
      mc admin user add s3-minio $$CC_AWS_ACCESS_KEY_ID $$CC_AWS_SECRET_ACCESS_KEY &&
      mc admin policy attach s3-minio readwrite --user $$CC_AWS_ACCESS_KEY_ID &&
      mc admin user add s3-minio $$FFRD_AWS_ACCESS_KEY_ID $$FFRD_AWS_SECRET_ACCESS_KEY &&
      mc admin policy attach s3-minio readwrite --user $$FFRD_AWS_ACCESS_KEY_ID &&
      mc mb --ignore-existing s3-minio/$$CC_AWS_S3_BUCKET &&
      mc mb --ignore-existing s3-minio/$$FFRD_AWS_S3_BUCKET &&
      mc put inputs/payload s3-minio/$$CC_AWS_S3_BUCKET/$$CC_ROOT/$$CC_PAYLOAD_ID/payload &&
      mc put inputs/transposition-domain.geojson s3-minio/$$FFRD_AWS_S3_BUCKET/$$StormHub_INPUT_PATH/transposition-domain.geojson &&
      mc put inputs/watershed-boundary.geojson s3-minio/$$FFRD_AWS_S3_BUCKET/$$StormHub_INPUT_PATH/watershed-boundary.geojson
      "